@import 'variables';
h1 {
    color: $green-color;
}

.card-song-item {
    margin-top: 16px;
    max-height: 558px;
    min-height: 558px;
    overflow: hidden;
}

.card-body {
    list-style: none;
    & a:first-child {
        text-decoration: none;
        color: $black-color;
    }
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}