h1 {
  color: green; }

.card-song-item {
  margin-top: 16px;
  max-height: 450px;
  min-height: 450px;
  overflow: hidden; }

.card-body {
  list-style: none; }
  .card-body a:first-child {
    text-decoration: none;
    color: black; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.checkbox-select-all-options {
  width: 160px;
  margin: 0 16px; }

.btn-mb-add {
  margin-top: -28px; }

.font-color-black {
  color: black; }

.row-song-item:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.row-song-item .song-number {
  font-weight: bold;
  font-size: 1.2rem; }

.row-song-item .song-info .song-name {
  font-weight: bold;
  font-size: 1.3rem; }

.row-song-item .song-info .song-artist {
  font-size: 1rem;
  color: gray; }

.coming-soon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .coming-soon-content {
    font-size: 2rem;
    padding: 16px;
    color: gray;
    text-align: center; }

@media (min-width: 576px) {
  .coming-soon.col-12 .coming-soon-content {
    font-size: 3rem; } }

@media (max-width: 992px) {
  .btn-submit-song {
    width: 100%; } }
