<div class='mt-4'>
    <div class='row'>
        <div class="coming-soon col-lg-12 col-md-12 col-sm-12 col-12">
            <span class="coming-soon-content font-color-black">Coming soon ...</span>
        </div>
    </div>
</div>